$padding-y: 10px;
$padding-x: 15px;
$text-primary-color: #3d3d3d;
$dark-bg-color: #1a1a1a;
$grey-bg-color: #2a2a2a;
$text-accent-color: #1d79ef;
$text-grey-color: #8a8a8a;
$nav-border-thickness: 4px;
$max-width: 1400px;
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
